<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pocetna strana</title>
  </head>

  <body>
    <h1>Dodavanje</h1>

    <form action="/dodaj" method="POST">
      
      Naziv: <input type="text" name="naziv" required> <br>
      Kategorija: <input type="text" name="kategorija" required><br>
      Cena: <input type="text" name="cena" required><br>
      Tekst: <input type="text" name="tekst" required><br>
      Oznake: <input type="text" name="oznake" required> <br>
      Akcije: <input type="text" name="akcije"> <br>

      <button type="submit">Dodaj</button>

    </form>
    

  </body>
</html>